

.layout {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background);
    background-image: url("../../public/images/clouds.svg");
    background-size: 90rem;
}
