

.button {
  background-color: var(--main-green);
  color: var(--main-white);
  font: 500 2.4rem var(--fontFamily);
  line-height: 3rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  width: 44rem;
  height: 5rem;

  &:hover {
    background-color: var(--main-green-overlap);
    cursor: pointer;
  }
}

.addButton {
  background-color: var(--main-white);
  color: var(--main-green);
  font: 300 4.2rem var(--fontFamily);
  border: 1px solid var(--main-green);
  border-radius: 0.6rem;
  outline: none;
  line-height: 3rem;
  width: 4rem;
  height: 4rem;
  margin: 1rem;

  &:hover {
    background-color: var(--main-green-overlap);
    border: 1px solid var(--main-green-overlap);
    color: var(--main-white);
    cursor: pointer;
  }
}

.submitAuthButton {
  background-color: var(--main-green);
  color: var(--main-white);
  font: 500 2rem var(--fontFamily);
  line-height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  width: 22rem;
  height: 5rem;

  &:hover {
    background-color: var(--main-green-overlap);
    cursor: pointer;
  }
}

.swapAuthButton {
  background-color: var(--main-white);
  color: var(--main-green);
  font: 500 1.4rem var(--fontFamily);
  line-height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  width: 30rem;
  height: 5rem;
  cursor: pointer;

  &:hover {
    color: var(--main-black);
  }
}
