

.textInput {
  background-color: var(--main-white);
  color: var(--main-black);
  font: 600 2rem var(--fontFamily);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}


.input {
  border: 1px solid var(--main-black);
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 4rem;
  border-radius: 0.6rem;
  font: 500 1.8rem var(--fontFamily);
  width: 44rem;
  height: 4rem;
  line-height: 2rem;

  &:focus {
    outline: var(--main-green);
    border: 1px solid var(--main-green);
  }
}
