

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-white);
  width: 100rem;
  height: 100vh;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--main-black);

    .text {
      font-size: 2.4rem;
      font-weight: 600;
    }

    .description {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 1rem;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
  }
}
